<!DOCTYPE html>
<html>
    <head>
        <title>Book App</title>
        <link rel="stylesheet" type="text/css" href="styles/base.css"/>
    </head>
    <body>
        <header>
            <h1> Hello World from SHOW.EJS </h1>
        </header>
        <main>

        </main>
        <footer>

        </footer>
    </body>
</html>